body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Pretendard, sans-serif;
  font-display: swap;
  font-style: normal;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --main-purple: #9819c3;
  --main-white: #ffffff;

  --text-purple: #bf00ff;
  --text-gray: #4d4d4d;
  --text-secondary-gray: #b2b2b2;
}
