@import './styles/fonts.css';

body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
  font-display: swap;
  font-style: normal;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

html,
body {
  min-width: 360px;
}

:root {
  --main-purple: #9819c3;
  --main-purple50: #9819c380;
  --main-white: #ffffff;
  --main-black: #000000;
  --main-magenta: #a60f62;
  --main-gradation: linear-gradient(90deg, #b30505 0%, #9819c3 100%);
  --kakaotalk_label: #191919;

  --sub-light-gray: #dddddd;

  --text-purple: #bf00ff;
  --text-gray: #4d4d4d;
  --text-secondary-gray: #b2b2b2;

  --highlight-red: #f00;
  --highlight-blue: #07f;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.Toastify__toast--error {
  background-color: #7d3333 !important;
  border-radius: 12px !important;
  color: #ffffff !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
  padding: 12px 20px !important;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: #ffffff !important;
}

.Toastify__progress-bar--error {
  background: rgba(255, 255, 255, 0.5) !important;
}

.Toastify__close-button {
  color: #ffffff !important;
  opacity: 0.7;
}

.custom-toast {
  min-height: unset !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 10px !important;
  justify-content: center !important;
}
